// All styles related to typography such as p, a, h1, etc.

* {
  font-size: 16px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  font-family: $text;
}

a, a:visited {
  font-family: $text;
  color: $black;
}

