// All styles related to typography such as p, a, h1, etc.

* {
  font-size: 16px;
  box-sizing: border-box;
  //overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-family: $newsHeadings;
  font-size: 2.6rem;
  color: $timglas;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  color: $timglas;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: lighter;
}

li {
  font-family: $text;
}

p {
  font-size: 1rem;
  font-family: $text;
  color: $timglas;
}

a,
a:visited {
  font-family: $text;
  color: $black;
}
