// All Sass variables

// Fonts
$headings: 'Ubuntu', sans-serif;
$text: 'Arial', sans-serif;

// Colors
$timglas: #D7BFA8;
$eldsjal: #592020;
$adelsblod: #54384C;
$murgrona: #333F46;
$oppethav: #29415E;
$black: #000000;
$white: #ffffff;
