// All Sass variables

// Import of Google Fonts
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
// Muli
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap');
// Source Serif Pro
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

// Fonts
$headings: 'Muli', sans-serif;
$text: 'Muli', sans-serif;
$newsHeadings: 'Source Serif Pro', serif;
$lato: 'Lato', sans-serif;

// Colors
$timglas: #F9F3EB;
$eldsjal: #CC7B5C;
$adelsblod: #475B6C;
$murgrona: #334859;
$oppethav: #F6E5CA;
$black: #000000;
$white: #ffffff;
