// All Sass variables

// Import of Google Fonts
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
// Muli
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap');

// Fonts
$headings: 'Muli', sans-serif;
$text: 'Muli', sans-serif;

// Colors
$timglas: #EFDECE;
$eldsjal: #592020;
$adelsblod: #54384C;
$murgrona: #333F46;
$oppethav: #2f3e46;
$black: #000000;
$white: #ffffff;
