// The header of the whole website

main {
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: $oppethav;
}

.header {
  width: 100vw;
  max-width: 100vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $timglas;
  height: 8vh;
  overflow-x: hidden;

  &__left {
    margin-left: 5vw;
  }

  &__right {
    @extend %flex-just-sp-bet;
    height: 8vh;

    &__flag {
      margin-right: 7vw;
    }

    &__arrow {
      margin: 0 2vw;
    }

    &__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 8vh;
      margin-right: 5vw;
      z-index: 100;

      &__line2,
      &__line3 {
        height: 3px;
        width: 7vw;
        margin-top: 5px;
        background-color: black;
        border-radius: 1px;
      }

      &__line1 {
        height: 3px;
        width: 7vw;
        background-color: black;
        border-radius: 1px;
      }
    }
  }
}

.nav,
.flag-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $timglas;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in;
  transition: opacity 0.4s ease-in-out;
  z-index: 2;
}

.nav-language li:nth-child(1) {
  border: 1px solid black;
  border-radius: 7px;
}

.nav ul li,
.nav-ul li {
  margin: 2vh 0;
  text-transform: uppercase;
  padding: 6px 25px;
}

.nav-language .hamburger-line1,
.hamburger-line2,
.hamburger-line3 {
  transition: all 0.3s ease;
}

.toggle .hamburger-line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .hamburger-line2 {
  opacity: 0;
}

.toggle .hamburger-line3 {
  transform: rotate(45deg) translate(-6px, -5px);
}

.nav-active {
  opacity: 1;
  z-index: 20;
  display: flex;
}

.search {
  width: 100vw;
  display: none;

  &__input {
    width: 100vw;
    height: 5vh;
    padding-left: 5vw;
    background-color: $timglas;
    border: none;
  }
}

.search-active {
  display: block;
}

.search__input:focus {
  outline: 1px solid black;
  border: none;
}
