/* Import all pages */

@import 'front-page';
@import 'businesses';
@import 'news';
@import "programs";
@import 'archive';
@import 'footer';


// The horizontal lines besides the headings
.heading-wrapper {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 14px 0;

  @include respond-to(wide-screens) {
    width: 60vw;
  }

  &__left,
  &__right {
    flex: 1;
    background-color: $timglas;
    height: 1px;
  }
}

.heading-wrapper h3 {
  margin: 14px;

  @include respond-to(wide-screens) {
    margin: 20px;
  }
}

