.archive {
  @extend %flex-col-cen;
  @extend %flex-column;
  width: 100vw;
  background-color: $oppethav;

  &__images {
    width: 90vw;
    -webkit-column-count: 2;
    -webkit-column-gap:   4px;
    -moz-column-count:    2;
    -moz-column-gap:      4px;
    column-count:         2;
    column-gap:           4px;
    column-fill: auto;
    margin-bottom: 20px;

    @include respond-to(wide-screens) {
      width: 60vw;
      line-height: 1;
      -webkit-column-count: 3;
      -webkit-column-gap:   4px;
      -moz-column-count:    3;
      -moz-column-gap:      4px;
      column-count:         3;
      column-gap:           4px;
      column-fill: auto;
    }
  }

  &__images--single-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
  }

  &__images-wrapper {
    width: 100%;
    @extend %flex-col-cen;
  }

  &__images-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center 10%;
  }
}

.archive__alternatives {
  display: flex;
  width: 90%;
  margin-bottom: 20px;

  @include respond-to(wide-screens) {
    width: 60%;
  }

  &-images,
  &-videos {
    @extend %flex-center-center;
    width: 50%;
    border: 1px solid $timglas;
  }

  &-images a,
  &-videos a {
    font-size: 0.75rem;
    color: $timglas;
    text-decoration: none;
    margin: 0px;
    padding: 5px 0px;
  }
}
