.businesses {
  @extend %flex-col-cen;
  width: 100vw;
  background-color: $oppethav;

  & .heading-wrapper__left,
  & .heading-wrapper__right {
    background-color: $murgrona;
  }

  &__content-wrapper {
    @extend %flex-col-cen;
    width: 90%;
    padding: 10px;

    @include respond-to(wide-screens) {
      width: 60%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    text-align: center;

    @include respond-to(wide-screens) {
      width: 33.33%;
      text-align: left;
    }
  }
}

.businesses h3 {
  color: $murgrona;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 5px;

  @include respond-to(wide-screens) {
    font-size: 1.5rem;
  }
}

.businesses__article h4 {
  line-height: 1;
  margin: 0;
}

.businesses__article p {
  color: $murgrona;
  margin: 0;

  &.--title {
    font-weight: 700;
  }

  &.--role {
    font-weight: 300;
  }
}

.businesses__article a {
  color: $murgrona;
  font-size: 1.2rem;
  margin: 0;

  @include respond-to(wide-screens) {
    font-size: 1.5rem;
  }
}
