// "All forms marked with * are required" message.
.nf-form-fields-required {
  display: none;
}
//

.contact-page {
  background-color: $murgrona;
}

.contact-page .heading-wrapper {
  width: 100vw;
  margin: 0 auto;
  padding: 20px 0;
  background-color: $murgrona;

  @include respond-to(wide-screens) {
    width: 73vw;
  }
}

.contact-page .heading-wrapper__left {
  margin-left: 4vw;
}

.contact-page .heading-wrapper__right {
  margin-right: 4vw;
}

.contact-para {
  background-color: $murgrona;
}

.contact-para p {
  width: 92vw;
  margin: 0 auto;
  color: $timglas;
  font-family: $text;

  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

.contact-title {
  display: none;
}

.form .nf-form-content {
  padding: 0;

  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

// Images of the different rooms

.contact-rooms {
  width: 100vw;
  padding: 20px 0 40px 0;
  background-color: $murgrona;
  background-image: url("../../icons/ingela.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  @include respond-to(wide-screens) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20vw 50px 20vw;
    justify-content: space-between;
  }

  &__single {
    width: 92vw;
    background-color: $murgrona;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 4vw 4vw 4vw;
    position: relative;

    @include respond-to(wide-screens) {
      margin: 1vw 0;
      width: 29vw;
    }

    &__img {
      width: 100%;
    }

    &__title {
      position: absolute;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      top: 30%;
      font-size: 2.1rem;
      font-family: $newsHeadings;

      @include respond-to(wide-screens) {
        top: 30%;
        width: 80%;
      }
    }

    &__text {
      position: absolute;
      margin: 0 auto;
      padding: 0 12px;
      text-align: center;
      top: 43%;
      font-family: $text;
    }
  }
}

// Form container
.form {
  width: 100vw;
  margin: 0 auto;
}

.contact-form-wrapper .contact-form-text {
  width: 92vw;
  margin: 2vh auto;
  color: $murgrona;

  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

.form__name {
  width: 30px;
  margin: 0 4vw;
}

.nf-field {
  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

#nf-field-5-wrap,
#nf-field-6-wrap,
#nf-field-7-wrap {
  width: 92vw;
  margin: 0 auto;

  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

#nf-field-5,
#nf-field-6,
#nf-field-7 {
  border: 1px solid black;
  border-radius: 2px;
}

#nf-field-5::placeholder,
#nf-field-6::placeholder,
#nf-field-7::placeholder {
  color: black;
}

#nf-field-8-container {
  @include respond-to(wide-screens) {
    display: flex;
    width: 25vw;
    justify-content: center;
  }
}

#nf-field-8 {
  width: 92vw;
  background: transparent;
  border-radius: 7px;
  background-color: $eldsjal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 4vw;

  @include respond-to(wide-screens) {
    width: 25vw;
    margin: 0 37.5vw;
  }
}

#nf-form-title-2 {
  display: none;
}

// Team at Gathenhielmska
.in-charge-wrapper {
  width: 100vw;
  padding: 0 4vw;
  background-color: $murgrona;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include respond-to(wide-screens) {
    padding: 0 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__team {
    display: flex;

    @include respond-to(wide-screens) {
      width: 19vw;
    }

    &__left {
      width: 100vw;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

.in-charge-wrapper__team__left {
  margin-bottom: 3vh;

  @include respond-to(wide-screens) {
    width: 20vw;
  }
}

.in-charge-wrapper__team__left h3 {
  margin-top: 2vh;
}

.in-charge-wrapper__team__left h3,
.in-charge-wrapper__team__left p {
  text-align: center;
  margin: 1vh 0;

  @include respond-to(wide-screens) {
    text-align: left;
  }
}

.in-charge-wrapper__team__left img {
  width: 100%;
}
