// "All forms marked with * are required" message.
.nf-form-fields-required {
  display: none;
}

h2 {
  display: none;
}

.form .nf-form-content {
  padding: 0;
}

// Form container
.form {
  width: 92vw;
  margin: 0 auto;
}

.form__name {
  width: 30px;
}

#nf-field-8 {
  width: 92vw;
  background: transparent;
  border: 1px solid white;
  border-radius: 7px;
}

// Team at Gathenhielmska
.in-charge-wrapper {
  width: 92vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__team {
    display: flex;

    &__left,
    &__right {
      width: 46vw;
    }

    &__right {
      align-self: center;
    }

    &__right img {
      width: 100%;
      align-self: center;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
