.landing-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $oppethav;

  /* Hero image */
  &__hero {
    @extend %flex-col-cen;
    width: 100%;
    height: 92vh;
    /*
    padding: 10px;
    background-color: rgb(151, 151, 151);
    background: url('hero-front.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px rgba(50, 62, 69, 0.3);
    */
  }

  &__hero-video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  &__hero-video source {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  /*
  &__hero-title {
    height: calc(92vh - 40px);
    @extend %flex-col-cen;
    justify-content: center;
  }

  & h1 {
    @include respond-to(wide-screens) {
      font-size: 4.6rem;
    }
  }
  */

  &__arrow {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(135deg);
    margin: 10px;
  }

  /* Program section */
  &__program {
    @extend %flex-col-cen;

    &__wrapper {
      width: 90vw;
      padding-bottom: 14px;

      @include respond-to(wide-screens) {
        width: 60vw;
      }
    }

    & h3 {
      color: $murgrona;
    }

    & .heading-wrapper__left,
    & .heading-wrapper__right {
      background-color: $murgrona;
    }

    &__container {
      display: flex;
      min-width: 90vw;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
    }

    &__container::-webkit-scrollbar {
      display: none;
    }

    &__event {
      //width: 100vw;
      scroll-snap-align: start;
      position: relative;

      & img {
        width: 42vw;
        height: 42vw;
        margin-right: 1vw;
        object-fit: cover;
      }

      & .events__wrapper__date {
        font-family: $text;
        font-size: 0.875rem;
        font-weight: 300;
        color: $murgrona;
        text-transform: none;
        margin: 10px 0px 0px 0px;
      }

      & h3 {
        font-family: $newsHeadings;
        font-size: 1.4rem;
        text-transform: none;
        margin: 0;

        @include respond-to(wide-screens) {
          font-size: 1.6rem;
        }
      }

      & .events__wrapper__category,
      & .events__wrapper__straight-line,
      & .events__wrapper__text {
        display: none;
      }
    }
  }

  /* About section */
  &__about {
    @extend %flex-col-cen;
    background: url('hero-front.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px rgba(50, 62, 69, 0.86);

    @include respond-to(wide-screens) {
      padding: 50px 0;
      justify-content: center;
    }

    &__wrapper {
      width: 90vw;
      padding-bottom: 14px;

      @include respond-to(wide-screens) {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    & h3 {
      font-family: $newsHeadings;
      font-weight: 700;
      font-size: 1.9rem;
      text-transform: none;

      @include respond-to(wide-screens) {
        font-size: 4rem;
        margin: 20px 0;
      }
    }

    & p {
      text-align: center;

      @include respond-to(wide-screens) {
        padding: 0 10px;
        font-size: 1.5rem;
      }
    }

    & a {
      @include respond-to(wide-screens) {
        margin-top: 50px;
      }
    }
  }

  /* News section */
  &__news {
    @extend %flex-col-cen;
    padding-bottom: 14px;

    & h3 {
      color: $murgrona;
    }

    & .heading-wrapper__left,
    & .heading-wrapper__right {
      background-color: $murgrona;
    }

    & .news__article-content {
      & h4,
      & p,
      & a {
        color: $murgrona;
      }
    }

    & .news__article-content h4 {
      font-size: 1.5rem;

      @include respond-to(wide-screens) {
      font-size: 2.2rem;
      }
    }

    & .news__article-content p {
      font-size: 1rem;

      @include respond-to(wide-screens) {
        font-size: 1.2rem;
        }
    }

    & .news__article-content a {
      font-size: 1.125rem;

      @include respond-to(wide-screens) {
        font-size: 1.5rem;
        }
    }
  }
}

/* Styling for all buttons at front page */
.landing-page__button-wrapper {
  width: 100%;
  @extend %flex-center-center;
}
