.events {
  @extend %flex-center-center;
  @extend %flex-column;
  justify-content: space-between;
  background-color: $murgrona;
  width: 100vw;

  @include respond-to(wide-screens) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    padding: 0 2vw;
    margin: 0 auto;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 6vh 0;

    @include respond-to(wide-screens) {
      width: 30vw;
      align-items: flex-start;
    }

    &__img {
      width: 100vw;

      @include respond-to(wide-screens) {
        height: 30vw;
        width: 30vw;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      width: 92%;
      @include respond-to(wide-screens) {
        width: 100%;
      }
    }

    &__straight-line {
      height: 1px;
      width: 120px;
      background-color: $timglas;

      // @include respond-to(wide-screens) {
      //   width: 10vw;
      // }
    }

    &__category {
      font-family: $text;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      // margin: 10px 0 10px 5vw;

      @include respond-to(wide-screens) {
        font-size: 0.875rem;
        margin-left: 0;
      }
    }

    & h2 {
      font-family: $newsHeadings;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 10px 0 0 0;

      @include respond-to(wide-screens) {
        font-size: 2.2rem;
      }
    }

    &__date {
      font-size: 0.875rem;
      font-weight: 300;
      margin: 0 0 10px 0;

      // @include respond-to(wide-screens) {
      //   margin-left: 0;
      // }
    }

    &__text {
      line-height: 1.5rem;
      height: 10.5rem;
      overflow: hidden;
      font-weight: 300;

      @include respond-to(wide-screens) {
        font-size: 1.125rem;
      }
    }
  }
}

.page-title div {
  margin: 3vh auto;
}

.program-btn {
  all: unset;
  background-color: $eldsjal;
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: $text;
  font-size: 0.875rem;
  color: $timglas;
  text-align: center;
  padding: 10px 0;
  width: 90vw;

  @include respond-to(wide-screens) {
    font-size: 1.125rem;
    width: 92%;
    margin: 0;
  }

  a {
    color: $timglas;
  }
}

.program-title {
  background-color: $murgrona;
}

.program-title .heading-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 0;
}

/* single-program.php */

.single-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding-bottom: 5vh;
  background-color: $murgrona;
}

.single-program .events__wrapper {
  background-color: $murgrona;
  width: 100vw;
  @extend %flex-col-cen;
  margin: 0;
}

.single-program .events__wrapper__img {
  width: 100vw;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.single-program .events__wrapper__content {
  width: 92vw;

  @include respond-to(wide-screens) {
    width: 60vw;
  }
}

.single-program .events__wrapper__straight-line {
  @include respond-to(wide-screens) {
    display: none;
  }
}

.single-program .events__wrapper__category,
.single-program .events__wrapper__title,
.single-program .events__wrapper__date {
  @include respond-to(wide-screens) {
    text-align: center;
  }
}

.single-program .single-event-line {
  display: none;

  @include respond-to(wide-screens) {
    display: block;
    position: absolute;
    right: 2vw;
    width: 96vw;
    height: 1px;
    background-color: $timglas;
  }
}

.single-program .events__wrapper__text {
  margin-top: 40px;
}

.single-program button {
  display: none;
}
