.events {
  @extend %flex-center-center;
  @extend %flex-column;
  justify-content: space-between;

  width: 100vw;

  &__img {
    width: 100vw;
  }

  &__wrapper {
    margin: 0 4vw;
    width: 92vw;

    &__straight-line {
      height: 1px;
      width: 30vw;
      background-color: $timglas;
    }

    &__category {
      text-transform: uppercase;
      margin: 2vh 0;
    }

    &__title {
      margin-bottom: 0;
    }
  }
}

.page-title div {
  margin: 3vh auto;
}

.events button {
  margin: 1vh 4vw 6vh 4vw;
  width: 92vw;
  padding: 10px;
  text-decoration: none;
  border: 1px solid $timglas;
  border-radius: 7px;
  background-color: $oppethav;
}

.events button a {
  color: $timglas;
}

// single-program.php

.single-program {
  position: relative;
  overflow-y: hidden;
}

.single-program .events__img {
  overflow-y: hidden;
  object-position: center center;
}
