@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;

400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap);/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * Collapse border spacing in all browsers (opinionated).
 */

table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] { /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
/* WordPlate */

/*
@import 'node_modules/sanitize.css/sanitize';
*/
* {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  font-family: "Muli", sans-serif;
}

a,
a:visited {
  font-family: "Muli", sans-serif;
  color: #000000;
}

.sponsors,
.archive__alternatives-images,
.archive__alternatives-videos,
.events,
.landing-page__hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.archive,
.events {
  flex-direction: column;
}

.footer,
.archive__images-wrapper,
.archive,
.single-news,
.news__article,
.news,
.businesses__content-wrapper,
.businesses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.footer {
    @extend %flex-center;
    @extend %flex-column;
}
*/

/*
form {
    display: flex;
    width: 80vw;

    input {
        width: 80%;
        height: 40px;

        @include respond-to(wide-screens) {
            height: 50px;
        }
    }

    button {
       all: unset;
       width: 51px;
       height: 40px;

       @include respond-to(wide-screen) {
        height: 50px;
    }
  }

*/

/*
@import 'search';
@import 'gallery';
@import 'not-found';
*/

main {
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
  background-color: #2f3e46;
}

.header {
  width: 100vw;
  max-width: 100vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFDECE;
  height: 8vh;
  overflow-x: hidden;
}

.header__left {
  margin-left: 5vw;
}

.header__right {
  height: 8vh;
}

.header__right__flag {
  margin-right: 7vw;
}

.header__right__arrow {
  margin-right: 2vw;
}

.header__right__search {
  margin-right: 2vw;
}

.header__right__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  margin-right: 5vw;
  z-index: 100;
}

.header__right__hamburger__line2,
.header__right__hamburger__line3 {
  height: 3px;
  width: 7vw;
  margin-top: 5px;
  background-color: black;
  border-radius: 1px;
}

.header__right__hamburger__line1 {
  height: 3px;
  width: 7vw;
  background-color: black;
  border-radius: 1px;
}

.nav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #EFDECE;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in;
  transition: opacity 0.4s ease-in-out;
  z-index: 2;
}

.nav ul li {
  margin: 5px;
}

.hamburger-line1,
.hamburger-line2,
.hamburger-line3 {
  transition: all 0.3s ease;
}

.toggle .hamburger-line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .hamburger-line2 {
  opacity: 0;
}

.toggle .hamburger-line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.nav-active {
  opacity: 1;
  z-index: 20;
  display: flex;
}

.search {
  width: 100vw;
  display: none;
}

.search__input {
  width: 100vw;
  height: 5vh;
  padding-left: 5vw;
  background-color: #EFDECE;
  border: none;
}

.search-active {
  display: block;
}

.search__input:focus {
  outline: 1px solid black;
  border: none;
}

/* Import all pages */

.landing-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #c7c7c7;
}

.landing-page__hero {
  width: 100%;
  height: 80vh;
  padding: 50px;
  background-color: #979797;
}

.businesses {
  width: 100vw;
  background-color: #2f3e46;
}

.businesses__content-wrapper {
  width: 90%;
  padding: 10px;
}

@media only screen and (min-width: 830px) {
  .businesses__content-wrapper {
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.businesses__article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 830px) {
  .businesses__article {
    width: 33.33%;
    text-align: left;
  }
}

.businesses h3 {
  color: #EFDECE;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 5px;
}

@media only screen and (min-width: 830px) {
  .businesses h3 {
    font-size: 1.5rem;
  }
}

.businesses__article p {
  color: #EFDECE;
  margin: 0;
}

.businesses__article p.\--title {
  font-weight: 700;
}

.businesses__article p.\--role {
  font-weight: 300;
}

.businesses__article a {
  color: #EFDECE;
}

.news {
  width: 100vw;
  background-color: #2f3e46;
}

.news__article {
  width: 100%;
}

@media only screen and (min-width: 830px) {
  .news__article {
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

.news__article-img {
  width: 90%;
}

@media only screen and (min-width: 830px) {
  .news__article-img {
    width: 55%;
  }
}

.news__article-img img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center top;
  margin: 0;
}

.news__article-content {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 830px) {
  .news__article-content {
    width: 100%;
    margin: 0px;
  }
}

.news__article-content h4,
.news__article-content p,
.news__article-content a {
  color: #EFDECE;
  margin: 0;
}

.news__article-content h4 {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  margin: 0;
}

@media only screen and (min-width: 830px) {
  .news__article-content h4 {
    font-size: 1.6rem;
  }
}

.news__article-content p {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
}

@media only screen and (min-width: 830px) {
  .news__article-content p {
    margin: 6px 10px 15px 0px;
    font-size: 0.9rem;
  }
}

.news__article-content a {
  font-size: 0.875rem;
  font-weight: 700;
}

.news__article-content .date {
  display: none;
}

.news__article-content .date__published {
  display: none;
}

.news__article-content .date__date {
  font-size: 0.6rem;
}

/* single-news.php */

.single-news {
  background-color: #2f3e46;
  width: 100vw;
}

.single-news__title {
  width: 100%;
  height: 40vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(40, 40, 40, 0.36);
}

@media only screen and (min-width: 830px) {
  .single-news__title {
    height: 70vh;
  }
}

.single-news h3 {
  color: #EFDECE;
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
  text-transform: none;
  text-align: center;
  position: absolute;
  z-index: 10;
  margin: 0;
}

@media only screen and (min-width: 830px) {
  .single-news h3 {
    font-size: 2.8rem;
  }
}

.single-news h4 {
  border-bottom: 1px solid #EFDECE;
}

.single-news .news__article-img {
  width: 100vw;
  height: auto;
  overflow-y: hidden;
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-img {
    max-height: 70vh;
  }
}

.single-news .news__article-img img {
  object-position: center center;
}

.single-news .news__article-content {
  margin-bottom: 60px;
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content {
    width: 60vw;
    margin-bottom: 100px;
  }
}

.single-news .news__article-content h4 {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content h4 {
    font-size: 2.8rem;
  }
}

.single-news .news__article-content .date {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content .date {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content .date__published {
    display: inline;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content .date__date {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 830px) {
  .single-news .news__article-content p {
    font-size: 1rem;
    font-weight: 400;
  }
}

.single-news .news__article-content a {
  display: none;
}

.events {
  width: 100vw;
}

.events__img {
  width: 100vw;
}

.events__wrapper {
  margin: 0 4vw;
  width: 92vw;
}

.events__wrapper__straight-line {
  height: 1px;
  width: 30vw;
  background-color: #000000;
}

.heading-wrapper {
  margin: 0 auto;
}

.events button {
  margin: 0 4vw;
  width: 92vw;
  padding: 4px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
}

.archive {
  width: 100vw;
  background-color: #2f3e46;
  height: 100vh;
}

.archive__images {
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.archive__images--single-image {
  width: 45vw;
  display: flex;
  justify-content: center;
}

.archive__images-wrapper {
  width: 45vw;
  padding: 2px;
}

.archive__images-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.archive__alternatives {
  display: flex;
  width: 90%;
}

.archive__alternatives-images,
.archive__alternatives-videos {
  width: 50%;
  border: 1px solid #EFDECE;
}

.archive__alternatives-images a,
.archive__alternatives-videos a {
  font-size: 0.75rem;
  color: #EFDECE;
  text-decoration: none;
  margin: 0px;
  padding: 5px 0px;
}

.archive h3 {
  color: #EFDECE;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 5px;
}

.footer {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #23405E;
}

@media only screen and (min-width: 830px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__links_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5vh;
}

.footer__links_wrapper__left,
.footer__links_wrapper __right {
  width: 46vw;
}

.footer__links_wrapper__left {
  margin-left: 4vw;
}

.footer__links_wrapper__right {
  margin-right: 4vw;
}

.footer__links_wrapper__right__space {
  margin-top: 8vh;
}

.footer__straight-line {
  height: 1px;
  margin: 0 auto;
  width: 92vw;
  background-color: black;
}

.sponsors {
  width: 92vw;
  margin: 3vh 0 0 0;
  justify-content: space-between;
}

.sponsors__image {
  width: 20%;
  height: auto;
  margin-left: 2vw;
}

.sponsors__text p {
  margin: 0;
  font-size: 0.65rem;
}

a {
  text-decoration: none;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 14px 0;
}

@media only screen and (min-width: 830px) {
  .heading-wrapper {
    width: 60vw;
  }
}

.heading-wrapper__left,
.heading-wrapper__right {
  flex: 1;
  background-color: #EFDECE;
  height: 1px;
}

.heading-wrapper h3 {
  color: #EFDECE;
  margin: 14px;
}

@media only screen and (min-width: 830px) {
  .heading-wrapper h3 {
    margin: 20px;
  }
}

